.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 25px;
    width: 100%;
    right: 0;
    left: 0;
    justify-content: center;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    button {
        width: calc(100% - 25px*2);
        height: 70px;
    }
}